@import "./fonts.css";
@import "./variables.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#root {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

a,
p {
  font-family: var(--body-font);
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  a,
  p {
    font-size: 1.6rem;
  }
}

html.dark a,
html.dark p {
  color: var(--dark-text-color);
}

*[hidden] {
  display: none;
}

ul {
  list-style: none;
}

body {
  background-color: var(--sites-background-color);
}

html.dark body {
  background-color: var(--dark-sites-background-color);
}

button,
input,
textarea {
  background: none;
  border: none;
  outline: none;
}
