@import "./fonts.css";
@import "./variables.css";

html {
  font-size: 10px;
}

a,
p {
  font-family: "Inter-R", sans-serif;
}

#root {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
