:root {
  --body-font: "Inter", sans-serif;
}

/* colors */
:root {
  --main-color: blue;
  --dark-main-color: cyan;
  --sites-background-color: #fff;
  --dark-sites-background-color: rgb(18, 21, 45);
}
