:root {
  --body-font: "Inter", sans-serif;

  --border-radius-x: 2.5px;
  --border-radius-xx: 5px;
  --border-radius-xxx: 7.5px;
  --border-radius-xxxx: 10px;
}

/* colors */
:root {
  --main-color: blue;
  --dark-main-color: cyan;

  --text-color: #090d1d;
  --dark-text-color: #fff;

  --sites-background-color: #fff;
  --dark-sites-background-color: rgb(18, 21, 45);

  --header-box-shadow-color: var(--main-color);
  --dark-header-box-shadow-color: var(--dark-main-color);

  --modal-backdrop-color: rgba(0 0 0 / 0.5);
  --dark-modal-backdrop-color: rgba(0, 0, 0, 0.5);
  --modal-bg-color: white;
  --dark-modal-bg-color: rgb(31, 37, 47);
  --modal-box-shadow-color: var(--main-color);
  --dark-modal-box-shadow-color: var(--dark-main-color);

  --labeled-content-title-color: var(--text-color);
  --dark-labeled-content-title-color: white;

  --theme-switcher-border-color: rgb(0, 0, 0);
  --dark-theme-switcher-border-color: rgb(255, 255, 255);
  --theme-switcher-border-radius: 50px;
  --theme-switcher-circle-color: var(--main-color);
  --active-theme-switcher-circle-color: var(--dark-main-color);
}
