.layout--main {
  height: 100%;
  flex-grow: 1;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.layout__body {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  scrollbar-width: thin;
}
