@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter-B";
    src: url(/fonts/Inter-Bold.ttf);
    font-weight: 700;
  }
  @font-face {
    font-family: "Inter-M";
    src: url(/fonts/Inter-Medium.ttf);
    font-weight: 500;
  }
  @font-face {
    font-family: "Inter-R";
    src: url(/fonts/Inter-Regular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: "Inter-SB";
    src: url(/fonts/Inter-SemiBold.ttf);
    font-weight: 600;
  }
}

#root {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

:root {
  --body-font: "Inter", sans-serif;
}

/* colors */
:root {
  --main-color: blue;

  /* dark */
  --dark-main-color: cyan;
}

*[hidden] {
  display: none;
}

a,
p {
  font-family: var(--body-font);
}
